<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name ="ElectroSila" parallel="tests" thread-count="1">
    <test name="test">
        <classes>
            <!--<class name="electroSila.tests.TelevisorsAdditionalValuesTest"></class>-->
            <!--<class name="electroSila.tests.SearchProductsTest"></class>-->
            <!--<class name="electroSila.tests.FiltrationProductsTest"></class>-->
            <!--<class name="electroSila.tests.NavigationCatalogTest"></class>-->
            <!--<class name="electroSila.tests.DeleteProductTest"></class>-->
            <!--<class name="electroSila.tests.AddToCartTest"></class>-->
            <class name="electroSila.tests.ProductsOnDiscountTest"></class>
        </classes>
    </test>
</suite>